@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

.scribbl-canvas-shadow {
    box-shadow: 0px 0.3rem 13px rgba(0, 0, 0, 0.7);
}

h1:not(#background) {
    z-index: 0;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
